.body {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding: 3rem;
  height: 85vh;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 20px;
}

.movie-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

.movie-card:hover {
  transform: translateY(-4px);
}

.movie-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.synopsis {
  color: #555;
  margin-top: 10px;
  font-size: 14px;
}