.body {
  height: 70px;
  background-color: red;
}

.header-content {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 20px;
}

.header-content label {
  cursor: pointer;
  font-size: 16px;
}